#bg_popup{
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }  
    #popup {
    background: #fff;
    width: 960px;
    height: 660px;
    margin: 8% auto;
    position: relative;
    box-shadow: 0px 0px 20px black;
    border-radius: 15px;
    background-image: url(assets/img/popup/BOSS_Porsche_014.webp);
    }  
    .close{
        position: absolute;
    right: 10px;
    top: 5px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: 100;
    }
    .perfomance{
        position: relative;
        top: 40%;
        left: 10%;
        color: whitesmoke;
        font-size: 40px;
        font-weight: 400;
    }
    .showcollection{
        position: relative;
        top: 42%;
        left: 7%;
        background-color: unset;
        font-weight: 400;
        font-size: 20px;
        color: whitesmoke;
    }
.showcollection:hover {
    background-color: unset;
}
.showcollection:focus{
    outline: unset;
}
.showcollectionarrow{
    font-weight: 400;
    opacity: 0;
}
.showcollection:hover  .showcollectionarrow{
    opacity: 1;
    transform: translateX(10px);
    transition: 0.3s ease-in;
}