button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: black;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0,3s ease;
}
button:hover{
    background-color: gray;
}
@media only screen and (max-width: 991px) {
    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
} 
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
#home{
    background-image: url(assets/img/banner/back.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home span{
    color: #b51f29;
}
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}
#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.3);
}
#new .one .details button{
    font-size: 14px;
    color: black;
    background: none;
    border-bottom: 1px solid black;
    padding: 3px;
    transform: translateY(70px);
    transition: 0.3s ease;
}
#new .one .details button:hover{
    color: gray;
    border-bottom: 1px solid gray;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.product{
    cursor: pointer;
    margin-bottom: 32px;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}
.product .buy-btn{
    background-color: #b51f29;
    opacity: 0;
    transition: 0.3s all;
}
.product:hover .buy-btn{
    opacity: 1;
}
#banner{
    background-image: url(assets/img/banner/2.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h4{
    color: #d8d8d8;
}
#banner h1{
    color: #d8d8d8;
}
#banner button{
    background-color: #b51f29;
}

.sproduct{
    margin: 60px auto;
    padding-top: 60px;
}
.sproduct select{
    display: block;
    padding: 5px 10px;
    margin: 20px 0px;
}
.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.buy-btn{
    background-color: #b51f29;
    opacity: 1;
    transition: 0.3s all;
}
.lang{
    background-color: white;
    color: black;
    padding: 0px;
}
.lang:focus{
    outline: none;
    background-color: white;
}
.lang:hover{
    background-color: white;
}
.flag-icon{
    width: 20px;
    vertical-align: baseline;
    background-color: white;
    margin-left: 10px;
}
.hoodieTitle{
    justify-content: space-between;
}
.img-container{
    transform: translateX(0);
    transition: transform ease-in-out 0.7s;
    flex-wrap: nowrap;
    
}
.carouselhidden{
    overflow: hidden;
}
.imgcarousel{
    text-align: center;
}
.styleArrow{
    background-color: gray;
    opacity: 0.6;
}


