button{
    font-size: 12px;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: black;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    background-color: gray;
}
.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0,3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover{
    color: #ed0703;
}
.navbar i{
    font-size: 20px;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}
@media only screen and (max-width: 991px) {
    #navbarSupportedContent > ul{
        margin: 16px;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
} 
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}


.home{
    background-image: url(A.-Module.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.home span{
    color: #ed0703;
}
