.wrapper{
    top: 114px;
    width: 70vw;
    min-height: 30vh;
    max-height: 80vh;
    background-color: white;
    position: absolute;
    font-size: 50 px;
    transform: translateX(-100%);
    transition: 0.5s ease;
    overflow: scroll;
    
}
.cart-open{
    padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.cart-open:hover{
    background: white;
}
.cart-open:focus{
    outline: none;
}
.cart-close{
    position: absolute;
    right: 1%;
    top: -1%;
    background: none;
    font-size: xx-large;
    padding: 0px;
}
.cart-close:hover{
    background-color: unset;
    color: black;
}
.cart-close:focus{
    outline: unset;
}
.opened{
    transform: translateX(0);
    position: fixed;
}
.general{
    background-color: gray;
    /* opacity: 0.5; */
}
.cartCount{
    color: black;
    background: white;
}
.cartCount:hover{
    color: green;
    background: white;
}
.cartCount:focus{
    color: green;
    border: unset;
}
.sizeImg{
    width: 200px;
}
.containerCart{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titleUnit{
    display: flex;
}