.lang{
    background-color: white;
    color: black;
    padding: 0px;
}
.lang:focus{
    outline: none;
    background-color: white;
}
.lang:hover{
    background-color: white;
}
.flag-icon{
    width: 20px;
    vertical-align: bottom;
    background-color: white;
    margin-left: 10px;
}